        html {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-size: 10px;
        font-family: sans-serif; /*Importar fonte pedida na especificação*/
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        }

        body {
        width: 100%;
        height: 100%;
        background-color: #f5f9ff;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        main {
        width: 65rem;
        height: auto;
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 1.6rem;
        padding: 3.2rem 4.8rem;
        }
        h1 {
        font-size: 6.4rem;
        color: #11175e;
        justify-content: start;
        margin-top: 0px;
        }
        #create-tasks-form {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > input {
            width: 40%;
            height: 6rem;
            border: solid 0.1rem #8f98a8;
            border-radius: 0.8rem;
            padding-left: 1rem;
            font-size: 1.6rem;
        }
        }

        .add-task-btn {
        width: 6rem;
        height: 6rem;
        border: none;
        border-radius: 0.8rem;
        background-color: #2d70fd;
        color: #fff;
        cursor: pointer;
        &:hover {
            transition: 0.5s;
            opacity: 0.8;
        }
        }
        .tasks-list-section {
        margin: 0.8rem 0 1.6rem;
        min-height: 5rem;
        & > ul {
            padding-inline-start: 0rem;
            overflow: auto;
        }

        & > ul > li {
            list-style-type: none;
            padding: 0.8rem 1.6rem;
            display: flex;
            position: relative;
            margin-bottom: 0.8rem;
            border: 0.1rem solid #8f98a8;
            border-radius: 1.6rem;
            font-size: 1.6rem;
            align-items: center;
        }

        & > ul > li:last-child {
            margin-bottom: 0px;
        }   
            & > ul > li > .btn-finish-tasks {
                border: none;
                border-radius: 0.4rem;
                width: 30%;
                height: 4rem;
                background-color: #2d70fd;
                color: #fff;
                margin-left: auto;
                &:hover {
                cursor: pointer;
                transition: 0.5s;
                opacity: 0.8;
                }
        }
        }
        .li-tasks > .tasks-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        & > .h3-tasks{
            width: 100%;
            margin: 0 0 0.8rem 0;
        }
        }
        .tasks-span {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: #b1bacb;

        & > .tasks-tag {
            margin: 0 1rem 0 0;
            border: solid 0.1rem #b1bacb;
            border-radius: 99.9rem;
            padding: 0.2rem 0.8rem 0.2rem 0.8rem;
        }
        }
        footer {
        & > span {
            font-size: 1.6rem;
            display: flex;
            justify-content: end;
            color: #8f98a8;
        }
        }

        .btn-checked-tasks {
        margin-left: auto;
        border: none;
        height: 6rem;
        width: 6.5rem;
        border-radius: 99.9rem;
        background-color: green;
        color: #fff;
        cursor: pointer;
        &:hover{
            transition: .5s;
            opacity: .8;
        }
        

        }
    .h3-tasks-checked{
            text-decoration: line-through;
            color: #8f98a8;
        }
        @media screen and (max-width: 800px) {
        html {
            width: 100%;
            height: auto;
        }
        body {
            width: 100%;
            height: auto;
            margin: auto;
            & > main {
            margin-top: 5rem;
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 5%;
            & > header {
                width: 100%;
                & > h1 {
                width: 100%;
                font-size: 3.6rem;
                justify-content: start;
                }
            }
            & > #create-tasks-section {
                width: 100%;
                display: flex;
                height: 25rem;
                & > div {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                & > input {
                    width: 100%;
                    align-items: center;
                    margin-bottom: 1.5rem;
                    font-size: 2.2rem;
                    color: #000;
                }
                & > button {
                    width: 105%;
                    font-size: 2.2rem;
                    margin-bottom: 0px;
                }
                }
            }
            & > .tasks-list-section {
                margin: auto;
                width: 100%;
                & > ul {
                margin: auto;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                & > li {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    padding: 1.5rem;
                    & > div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                    & > h3 {
                        font-size: 2rem;
                        padding-bottom: 1rem;
                    }
                    & > div > span {
                        width: auto;
                        font-size: 1.6rem;
                        display: flex;
                        flex-direction: column;
                    }
                    & > div > .tasks-data-tag {
                        margin-top: 0.5rem;
                    }
                    & > div > .tasks-tag {
                        display: inline-block;
                        width: fit-content;
                    }
                    }
                    & > .btn-finish-tasks {
                        margin: auto;
                    margin-top: 1rem;
                    width: 60%;
                    height: 4rem;
                    }
                    & > .btn-checked-tasks{
                        margin: auto;
                        margin-top: 1rem;
                    }
                }
                }
            }
            }
        }
        }
